{% extends 'admin/admin_base.html.twig' %}

{% block metaTitle %}
    Liste des articles
{% endblock metaTitle %}


{% block main %}
    <a class="deconnexion float-right" href="{{ path('app_logout') }}">Se deconnecter</a>
    <p><a class="float-right" href="{{ path('AdminInsert' ) }}">Ajouter un nouvel article</a></p>


    <h1 class="title">Il y a {{ articles | length }} articles dans la base de données</h1>
    <div class="articles-container">

        {% for article in articles %}
            {% if article.isPublished %}
                <article class="article">
                    <h2>{{ article.title | upper }}</h2>
                    <p>{{ article.content }}</p>
                    <div class="Supprimer">
                    <a href="{{ path('adminArticleDelete', {'id' : article.id} ) }}">Supprimer</a>
                    </div>
                    <div class="Modifier">
                    <a href="{{ path('AdminArticleUpdateContent', {'id' : article.id} ) }}">Modifier</a>
                    </div>

                </article>
            {% endif %}
        {% endfor %}
    </div>
{% endblock main %}